# ------------------------
# Зависимости
# ------------------------
/vendor
/node_modules

# ------------------------
# Сборка фронтенда
# ------------------------
/public/build
/public/hot

# ------------------------
# Laravel
# ------------------------
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json

# Кэш и логи
storage/*.key
storage/pail
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/

# ------------------------
# IDE / Редакторы
# ------------------------
.fleet
.idea
.nova
.vscode
.zed

# ------------------------
# Системные файлы
# ------------------------
Thumbs.db
.DS_Store
*.swp
*~
*.bak

# ------------------------
# Тесты
# ------------------------
.phpunit.cache